.data-container{
    display: flex;
}
input[type=file]{
    display: none;
}

#preview{
    padding: 20px;
    width: 40%;
}
.data-container .form{
    width: 60%;
}
#frame-content{
    position: relative;
    width: 100%;
}
#frame-content.no-frame,  #frame-content.no-frame #upload-content,  #frame-content.no-frame #drop-zone{
    height: 100%;
    position: static;
}
#frame-content.no-frame.with-image{
    height: auto;
}
#frame-content img.result{
    position: absolute;
    z-index: 1;
}
#frame-content.no-frame img.result{
    position: static;
    margin: auto;
    display: block;
    max-width: 100%;
}
#frame-content img.frame{
    width: 100%;
    z-index: 2;
    position: relative;
}
#upload-content{
    position: absolute;
    box-sizing: border-box;
    padding: 20px;
    z-index: 3;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    text-align: center;
}
#drop-zone{
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
#order-form [role=radiogroup] input{
    display: none;
}
#order-form [role=radiogroup] label{
    display: inline-block;
    width: 50px;
    border: 1px solid black;
}
#order-form [role=radiogroup] label.round{
    height: 50px;
    border-radius: 50px;
}

#order-form [role=radiogroup] label:hover{
    cursor: pointer;
    opacity: .8;
}

#order-form [role=radiogroup] label.active{
    outline: 2px rgba(255, 0, 0, 0.7) inset;
    border-color: transparent;
}