.data-container{
    display: flex;
}
input[type=file]{
    display: none;
}

#preview{
    padding: 20px;
    width: 40%;
}
.data-container .form{
    width: 60%;
}
#frame-content{
    position: relative;
    width: 100%;
}
#frame-content img.result{
    position: absolute;
    z-index: 1;
}
#frame-content img.frame{
    width: 100%;
    z-index: 2;
    position: relative;
}
#upload-content{
    position: absolute;
    box-sizing: border-box;
    padding: 20px;
    z-index: 3;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    text-align: center;
}
#drop-zone{
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
#order-form [role=radiogroup] input{
    display: none;
}
#order-form [role=radiogroup] label{
    display: inline-block;
    width: 50px;
    border: 1px solid black;
}
#order-form [role=radiogroup] label.round{
    height: 50px;
    border-radius: 50px;
}

#order-form [role=radiogroup] label:hover{
    cursor: pointer;
    opacity: .8;
}

#order-form [role=radiogroup] label.active{
    outline: 2px rgba(255, 0, 0, 0.7) inset;
    border-color: transparent;
}

.fade{
    display: none;
}
.modal{
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    max-width: 100vw;
    max-height: 100vh;
    background: white;
}
.modal .modal-dialog, .modal .modal-content{
    height: 100%;
}
.modal .modal-body{
    height: 80%;
    margin: auto;
}
.modal img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}