/* ширма (полупрозрачное затенение под модальным окном) */
.shim {
    /* фиксируем, растягиваем на весь доступный экран */
    position: fixed;
    bottom: 0; left: 0; top: 0; right: 0;

    /* если в модальном окне много содержимого, показываем скроллбар */
    overflow: auto;

    /* однопальцевый скролл для iPad*/
    -webkit-overflow-scrolling: touch;
}

/* фикс для странностей в iPad */
.shim > * {
    -webkit-transform: translateZ(0px);
}

/* декоративная часть ширмы: делаем полупрозрачной и чёрной */
.shim {
    background: rgba(255,255,255,0.2);
    padding: 70px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); /* IE6–IE8 */
    zoom: 1;
    z-index: 700;
    align-items:center;
    justify-content: center;
    display: flex;
}
.shim .modal{
    text-align: center;
    background-color: #000;
    border-radius: 19px;
    padding: 70px;
    box-shadow: 0 0 5px 2px rgb(252 244 227 / 76%);
}
.modal__heading{
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
}
.modal__content{
    padding: 50px 0;
    font-size: 17px;
    line-height: 20px;
}

.site-gallery h1{
    padding: 40px;
}
.gallery__container .row{
    flex-wrap: wrap;
    text-align: center;
}
.gallery__container .row > div {
    flex-grow: 1;
    width: 33%;
    box-sizing:border-box;
}

.gallery__container .row > div *{
    max-width: 100%;
    box-sizing:content-box;
}

@media (max-width:900px) {
    .shim,  .shim .modal{
        padding: 40px;
    }

    .gallery__container .row > div {
        width: 100%;
    }
}
@media (min-width:900px) and (max-width:1200px) {

    .gallery__container .row > div {
        width: 50%;
    }
}
.form-group.field-cartitem-image{
    display: none;
}
